@page
@model oxyHubRazor.Pages.Data.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>mqttData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="mqttData.feuchtigkeit" class="control-label"></label>
                <input asp-for="mqttData.feuchtigkeit" class="form-control" />
                <span asp-validation-for="mqttData.feuchtigkeit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.temperatur" class="control-label"></label>
                <input asp-for="mqttData.temperatur" class="form-control" />
                <span asp-validation-for="mqttData.temperatur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.tvoc" class="control-label"></label>
                <input asp-for="mqttData.tvoc" class="form-control" />
                <span asp-validation-for="mqttData.tvoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.eco2" class="control-label"></label>
                <input asp-for="mqttData.eco2" class="form-control" />
                <span asp-validation-for="mqttData.eco2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.airQuality" class="control-label"></label>
                <input asp-for="mqttData.airQuality" class="form-control" />
                <span asp-validation-for="mqttData.airQuality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.airQualityPrecision" class="control-label"></label>
                <input asp-for="mqttData.airQualityPrecision" class="form-control" />
                <span asp-validation-for="mqttData.airQualityPrecision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.rawh2" class="control-label"></label>
                <input asp-for="mqttData.rawh2" class="form-control" />
                <span asp-validation-for="mqttData.rawh2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mqttData.rawEthanol" class="control-label"></label>
                <input asp-for="mqttData.rawEthanol" class="form-control" />
                <span asp-validation-for="mqttData.rawEthanol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
