@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <style>
        
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div class=" container">
        <p>
            Project oxyGenise and all asociated work,
            irrespective of intellectual work, technical documentation, or real world prototypes,
            belong to Jean-Phillip Bernecker and Lukas Krug.
            Rights reserved to: illwerke vkw & Stiftung Maria Ebene & FutureAct
        </p>
        <br />
        <p>
            Feel free to use our technical documentation, aswell our intellectual work in regards
            to project oxyGenise. <br />
            If you use any of the previously mentioned documents please reference us in your project.
        </p>
        <br />
        <p>
            Project oxyGenis is supported by:
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="\Images\illwerke.jpg" />
            </div>
            <div class="col-sm-3">
                <img src="\Images\stiftung.jpg" />
            </div>
            <div class="col-sm-3">
                <img src="\Images\lbsfe1.jpg" />
            </div>
            <div class="col-sm-3">
                <img src="\Images\FutureAct.jpg" />
            </div>
        </div>
    </div>
</body>